{{!-- dashboard is basically the profile page --}}
{{!-- will see their own pre-existing blog posts and the option to add more --}}

<section>
    <h2>{{username}}'s Dashboard</h2>
</section>

{{!-- make button to create a new post, have that form be collapsible? --}}
<section>
    <button class="btn" type="button" data-bs-toggle="collapse" data-bs-target="#newPostForm" aria-expanded="false" aria-controls="newPostForm">
        Create New Post
    </button>
</section>
{{!-- collapsible form for a new post --}}
<section class="collapse" id="newPostForm">
    <section class="mb-3">
        <label for="postTitle" class="form-label">Post Title</label>
        <input type="text" class="form-control" id="postTitle">
    </section>
    <section class="mb-3">
        <label for="postContent" class="form-label">Post Content</label>
        <textarea class="form-control" id="postContent" rows="4"></textarea>
    </section>
</section>

{{!-- user posts --}}
{{!-- need to make it clickable to open up a modal or maybe expand to see comments on it, and be able to edit or delete it? --}}
{{#if posts.length}}
<section class="postList">
    {{#each posts as |post|}}
    <section class="row mb-2">
        <section class="card">
            <section class="card-body">
                <h4 class="card-title">{{post.post_name}}</h4>
                {{!-- maybe truncate the text for post_content? --}}
                <p class="card-text">{{post.post_content}}</p>
            </section>
            <section class="card-footer">
                <p class="text-end mr-2">{{post.date_created}}</p>
            </section>


        </section>
    </section>
</section>

