{{!-- let's just make a simple form layout lindsay --}}


<section>
    <form>
        {{!-- email input below --}}
        <section class="mb-3">
            <label for="inputEmail" class="form-label">Email</label>
            <input type="email" class="form-control" id="inputEmail" aria-describedby="email">
        </section>
        {{!-- password input below --}}
        <section class="mb-3">
            <label for="inputPassword" class="form-label">Password</label>
            <input type="password" class="form-control" id="inputPassword">
        </section>
        {{!-- to toggle showing pass --}}
        <section class="mb-3">
            <label for="showPass" class="form-check-label">Show Password</label>
            <input type="checkbox" class="form-check-input" id="showPass">
        </section>
        <button type="submit" class="btn" id="loginBtn">Login</button>

    </form>
</section>